In [47]:
import pandas as pd
import numpy as np

In [48]:
h1 = pd.read_csv('data/hospital1_preprocessed.csv')
h2 = pd.read_csv('data/hospital2_preprocessed.csv')

In [49]:
print("Columnas en 'hospital1': ", len(h1.columns))
print("Columnas en 'hospital2': ", len(h2.columns))

Columnas en 'hospital1':  60
Columnas en 'hospital2':  57

Veamos qué columnas son las diferentes

In [50]:
h1.columns

Index(['country_Azerbaijan', 'country_Other', 'country_T.C.',
       'country_Turkmenistan', 'country_United Kingdom (Great Britain)',
       'country_Uzbekistan', 'age', 'gender__k_female__e_male', 'station_Fall',
       'station_Spring', 'station_Summer', 'station_Winter',
       'fever_temperature', 'oxygen_saturation', 'history_of_fever', 'cough',
       'sore_throat', 'runny_nose', 'wheezing', 'shortness_of_breath',
       'lower_chest_wall_indrawing', 'chest_pain', 'conjunctivitis',
       'lymphadenopathy', 'headache', 'loss_of_smell', 'loss_of_taste',
       'fatigue_malaise', 'anorexia', 'altered_consciousness_confusion',
       'muscle_aches', 'joint_pain', 'inability_to_walk', 'abdominal_pain',
       'diarrhoea', 'vomiting_nausea', 'skin_rash', 'bleeding',
       'other_symptoms', 'chronic_cardiac_disease', 'hypertension',
       'chronic_pulmonary_disease', 'asthma', 'chronic_kidney_disease',
       'obesity', 'liver_disease', 'asplenia', 'chronic_neurological_disorder',
       'malignant_neoplasm', 'chronic_hematologic_disease', 'aids_hiv',
       'diabetes_mellitus_type_1', 'diabetes_mellitus_type_2',
       'rheumatologic_disorder', 'dementia', 'tuberculosis', 'smoking',
       'other_risks', 'pcr_result', 'previous_positives'],
      dtype='object')

In [51]:
h2.columns

Index(['country_Azerbaijan', 'country_Other', 'country_T.C.', 'age', 'sex',
       'station_Fall', 'station_Spring', 'station_Summer', 'station_Winter',
       'fever_temperature', 'oxygen_saturation', 'history_of_fever', 'cough',
       'sore_throat', 'runny_nose', 'wheezing', 'shortness_of_breath',
       'lower_chest_wall_indrawing', 'chest_pain', 'conjunctivitis',
       'lymphadenopathy', 'headache', 'loss_of_smell', 'loss_of_taste',
       'fatigue_malaise', 'anorexia', 'altered_consciousness_confusion',
       'muscle_aches', 'joint_pain', 'inability_to_walk', 'abdominal_pain',
       'diarrhoea', 'vomiting_nausea', 'skin_rash', 'bleeding',
       'other_symptoms', 'chronic_cardiac_disease', 'hypertension',
       'chronic_pulmonary_disease', 'asthma', 'chronic_kidney_disease',
       'obesity', 'liver_disease', 'asplenia', 'chronic_neurological_disorder',
       'malignant_neoplasm', 'chronic_hematologic_disease', 'aids_hiv',
       'diabetes_mellitus_type_1', 'diabetes_mellitus_type_2',
       'rheumatologic_disorder', 'dementia', 'tuberculosis', 'smoking',
       'other_risks', 'pcr_result', 'previous_positives'],
      dtype='object')

Observando las columnas, vemos que las únicas diferencias se han producido en la nacionalidad y género. En el caso de la nacionalidad existen 3 países más en los datos del primer hospital. Es por ello que nos quedaremos solamente con los países filtrados del segundo hospital. En el primer conjunto añadiremos las de los otros países a "country_Other".

In [52]:
h1['country_Other'] = h1['country_Turkmenistan'] + h1['country_United Kingdom (Great Britain)'] + h1['country_Uzbekistan']
h1.drop(['country_Turkmenistan', 'country_United Kingdom (Great Britain)', 'country_Uzbekistan'], axis=1, inplace=True)

In [53]:
print("Columnas en 'hospital1': ", len(h1.columns))
print("Columnas en 'hospital2': ", len(h2.columns))

Columnas en 'hospital1':  57
Columnas en 'hospital2':  57

Por otro lado, debemos utilizar el mismo nombre en las columnas de género en ambos datasets.

In [54]:
# change the name of the column gender__k_female__e_male in h1
mapper = {'gender__k_female__e_male': 'sex'}
h1.rename(columns=mapper, inplace=True)

Ahora sí, tienen las mismas columnas y con los mismos nombres. Podemos juntar ambos datasets.

In [55]:
hospital_data = pd.concat([h1, h2], axis=0)

In [56]:
hospital_data.isna().sum().sum()

0

## Veamos nuestro conjunto

In [57]:
hospital_data

,country_Azerbaijan,country_Other,country_T.C.,age,sex,station_Fall,station_Spring,station_Summer,station_Winter,fever_temperature,...,aids_hiv,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,pcr_result,previous_positives
0,0.0,0.0,1.0,47.0,1,0.0,0.0,0.0,1.0,38.2,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,0
1,0.0,0.0,1.0,23.0,1,0.0,0.0,0.0,1.0,37.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,0
2,0.0,0.0,1.0,26.0,1,0.0,0.0,0.0,1.0,38.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,1
3,0.0,0.0,1.0,60.0,1,0.0,0.0,0.0,1.0,36.5,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,0
4,0.0,0.0,1.0,72.0,1,0.0,0.0,0.0,1.0,36.9,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12696,0.0,0.0,1.0,67.0,0,0.0,1.0,0.0,0.0,36.6,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,1
12697,0.0,0.0,1.0,58.0,0,0.0,1.0,0.0,0.0,37.7,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,0
12698,0.0,0.0,1.0,38.0,0,0.0,1.0,0.0,0.0,36.9,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,1
12699,0.0,0.0,1.0,45.0,0,0.0,1.0,0.0,0.0,39.2,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,0
12700,0.0,0.0,1.0,42.0,1,0.0,1.0,0.0,0.0,37.4,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,0

Separate X from y

In [58]:
X = hospital_data.drop('pcr_result', axis=1)
y = hospital_data['pcr_result']

Debemos normalizar los datos

In [59]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_scaled = pd.DataFrame(X_scaled, columns=X.columns)

In [60]:
X_scaled.to_csv('data/X.csv', index=False)
y.to_csv('data/y.csv', index=False)