In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Cargamos los datos

In [36]:
data1 = pd.read_excel('hospital1.xlsx')
data2 = pd.read_excel('hospital2.xlsx')

In [37]:
data1.head()

,patient ID,patient ID.1,nationality,age,gender K=female E=male,date_of_first_symptoms,BASVURUTARIHI,fever_temperature,oxygen_saturation,history_of_fever,...,chronic_hematologic_disease,AIDS_HIV,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,PCR_result
0,11850006,11850006,T.C.,47,K,2022-01-01,2022-01-01,38.2,96.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,positive
1,4373630,4373630,T.C.,23,K,2022-01-01,2022-01-01,37.0,96.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,positive
2,12172023,12172023,T.C.,26,K,2022-01-01,2022-01-01,38.0,95.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,positive
3,72856168,72856168,T.C.,60,K,2022-01-01,2022-01-01,36.5,95.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,positive
4,72200559,72200559,T.C.,72,K,2021-12-22,2021-12-22,36.9,96.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,positive

## ¿Columnas redundantes?

En primer lugar, vemos que hay 2 columnas asociadas al ID del paciente. Veamos si la información que contienen es exactamente igual o difieren en alguna fila.

In [38]:
data1.loc[data1["patient ID"] != data1["patient ID.1"]]

,patient ID,patient ID.1,nationality,age,gender K=female E=male,date_of_first_symptoms,BASVURUTARIHI,fever_temperature,oxygen_saturation,history_of_fever,...,chronic_hematologic_disease,AIDS_HIV,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,PCR_result
1187,712249,6798097,T.C.,28,K,2022-02-03,2022-02-03,38.6,95.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,positive
2957,215634,98284721,T.C.,33,E,2021-05-06,2021-05-06,NaN,86.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,positive
4219,2015016,96844453,T.C.,51,E,2021-09-08,2021-09-08,39.2,95.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN
6470,712249,6798097,T.C.,30,K,2022-01-13,2022-01-13,36.8,95.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,positive
7774,2015016,96844453,T.C.,52,E,2021-10-15,2021-10-15,37.8,95.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,positive
11900,712249,6798097,T.C.,28,K,2021-09-25,2021-09-25,38.3,96.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,positive
13616,712249,6798097,T.C.,28,K,2021-06-29,2021-06-29,36.5,91.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN

Hay 7 filas donde ambas columnas difieren. Comprobemos una cosa:

In [40]:
ids1 = data1.loc[data1["patient ID"] != data1["patient ID.1"]]['patient ID.1']

data1.loc[data1["patient ID"].isin(ids1)]

,patient ID,patient ID.1,nationality,age,gender K=female E=male,date_of_first_symptoms,BASVURUTARIHI,fever_temperature,oxygen_saturation,history_of_fever,...,chronic_hematologic_disease,AIDS_HIV,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,PCR_result
8378,98284721,98284721,T.C.,69,E,2022-01-17,2022-01-17,36.5,89.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,positive
14440,6798097,6798097,T.C.,59,K,2021-07-31,2021-07-31,36.7,97.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,positive

En segundo lugar, vemos que existe una columna con un nombre extravagante, cuyos valores parecen iguales a los de la columna que define la fecha de los primeros síntomas "date_of_first_symptoms"

In [29]:
data1.loc[(data1['date_of_first_symptoms'] != data1['BASVURUTARIHI'])]

Empty DataFrame
Columns: [patient ID, patient ID.1, nationality, age, gender K=female E=male, date_of_first_symptoms, BASVURUTARIHI, fever_temperature, oxygen_saturation, history_of_fever, cough, sore_throat, runny_nose, wheezing, shortness_of_breath, lower_chest_wall_indrawing, chest_pain, conjunctivitis, lymphadenopathy, headache, loss_of_smell, loss_of_taste, fatigue_malaise, anorexia, altered_consciousness_confusion, muscle_aches, joint_pain, inability_to_walk, abdominal_pain, diarrhoea, vomiting_nausea, skin_rash, bleeding, other_symptoms, chronic_cardiac_disease, hypertension, chronic_pulmonary_disease, asthma, chronic_kidney_disease, obesity, liver_disease, asplenia, chronic_neurological_disorder, malignant_neoplasm, chronic_hematologic_disease, AIDS_HIV, diabetes_mellitus_type_1, diabetes_mellitus_type_2, rheumatologic_disorder, dementia, tuberculosis, smoking, other_risks, PCR_result]
Index: []

[0 rows x 54 columns]

Como vemos, no hay ninguna columna donde haya valores diferentes, por tanto, podemos decir con certeza que la columna BASVURUTARIHI es igual a la anterior. Por tanto, procedemos a eliminarla.

In [30]:
data1.drop(['BASVURUTARIHI'], axis=1, inplace=True)
data1.drop(['patient ID.1'], axis=1, inplace=True)

#### Tratamiento de nulos

In [31]:
data_null = data1.isna().sum()[data1.isna().sum() > 0].index
data_null

Index(['fever_temperature', 'oxygen_saturation', 'chronic_kidney_disease',
       'obesity', 'liver_disease', 'asplenia', 'chronic_neurological_disorder',
       'chronic_hematologic_disease', 'AIDS_HIV', 'diabetes_mellitus_type_1',
       'diabetes_mellitus_type_2', 'rheumatologic_disorder', 'dementia',
       'PCR_result'],
      dtype='object')

En primer lugar, eliminamos las filas donde PCR_Result sea NaN, ya que es la variable a predecir.

In [32]:
data1.dropna(subset=['PCR_result'], inplace=True)

Tras esto, vemos que la siguiente columna con un mayor volumen de nulos es la fiebre. En este caso, vamos a hacer una regresión para imputar valores, en los datos faltantes.

In [33]:
# Remove non-numeric columns
numeric_data1 = data1.select_dtypes(include=[np.number])

# Calculate correlation and get the top 5 variables related to 'fever_temperature'
numeric_data1.corr()['fever_temperature'].abs().sort_values(ascending=False).head(6)

fever_temperature            1.000000
diabetes_mellitus_type_2     0.024125
chronic_pulmonary_disease    0.019534
loss_of_taste                0.019278
chronic_kidney_disease       0.018329
other_risks                  0.016670
Name: fever_temperature, dtype: float64

Viendo estos resultados de correlación, pensamos que no tiene mucho sentido realizar una regresión para la imputación de valores, en cambio, hemos decidido que la mejor opción de imputación será mediante la media.

In [ ]:
# do a regression imputation on fever_temperature
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

# Split the data into train and test

In [9]:
#import simple imputer
from sklearn.impute import SimpleImputer

# Create an imputer object with a median filling strategy
imputer = SimpleImputer(strategy='mean')

data1['fever_temperature'] = imputer.fit_transform(data1[['fever_temperature']])

Adicionalmente a esto, vemos que hay algunas columnas binarias de síntomas que tienen muy pocos valores nulos. En nuestro caso, vamos a sustituir esos valores nulos por 0, ya que son columnas binarias donde 1 indica que tiene ese síntoma y 0 que no lo ha tenido. Pensamos que si el valor es nulo en esas columnas, significa que no se han hecho las pruebas para determinar el síntoma y, por tanto, suponemos que no ha tenido ese síntoma.

In [10]:
data1[data_null[2:]] = data1[data_null[2:]].fillna(0)

In [11]:
data1.isna().sum()

patient ID                         0
nationality                        0
age                                0
gender K=female E=male             0
date_of_first_symptoms             0
fever_temperature                  0
oxygen_saturation                  4
history_of_fever                   0
cough                              0
sore_throat                        0
runny_nose                         0
wheezing                           0
shortness_of_breath                0
lower_chest_wall_indrawing         0
chest_pain                         0
conjunctivitis                     0
lymphadenopathy                    0
headache                           0
loss_of_smell                      0
loss_of_taste                      0
fatigue_malaise                    0
anorexia                           0
altered_consciousness_confusion    0
muscle_aches                       0
joint_pain                         0
inability_to_walk                  0
abdominal_pain                     0
diarrhoea                          0
vomiting_nausea                    0
skin_rash                          0
bleeding                           0
other_symptoms                     0
chronic_cardiac_disease            0
hypertension                       0
chronic_pulmonary_disease          0
asthma                             0
chronic_kidney_disease             0
obesity                            0
liver_disease                      0
asplenia                           0
chronic_neurological_disorder      0
malignant_neoplasm                 0
chronic_hematologic_disease        0
AIDS_HIV                           0
diabetes_mellitus_type_1           0
diabetes_mellitus_type_2           0
rheumatologic_disorder             0
dementia                           0
tuberculosis                       0
smoking                            0
other_risks                        0
PCR_result                         0
dtype: int64

## IMPORTANTE: Añadir los -1 de oxygen_saturation a nulos para imputarlos.

Ahora, solo nos quedan valores nulos en oxygen saturation, en este caso es un caso parecido al de la fiebre, haremos una imputación basada en la media

In [12]:
data1['oxygen_saturation'] = imputer.fit_transform(data1[['oxygen_saturation']])

Tras estas transformaciones, hemos eliminado todos los valores nulos de este dataset.

### Variables Categóricas

En esta nueva sección, lo que vamos a realizar es tratar con las variables categóricas que tenemos en nuestro conjunto de datos. En primer lugar, vamos a tratar la columna de nacionalidad, donde vemos que hay muchos valores con nombre T.C, en un inicio no sabíamos que significaba, pero teniendo en cuenta que teníamos un nombre de columna en turco, entonces desciframos que esas siglas significan Turquía. Por tanto, vamos a sustituirlo.

In [13]:
#Cambia T.C en Turquia en la columna nationality

data1['nationality'] = data1['nationality'].replace('T.C.', 'Turkish')

In [14]:
data1['nationality'].value_counts()

nationality
Turkish                           12618
Azerbaijan                           67
Uzbekistan                           66
United Kingdom (Great Britain)       65
Turkmenistan                         60
                                  ...
Yemen                                 1
Guinea                                1
El Salvador                           1
Cameroon                              1
Singapore                             1
Name: count, Length: 97, dtype: int64

Tras haber hecho esto, las otras 2 columnas categóricas que son el género y el resultado de la prueba de la PCR, vamos a codificarlas en variables numéricas.

In [15]:
from sklearn.preprocessing import LabelEncoder

# Create a label encoder object
le = LabelEncoder()

# Fit the encoder to the pandas column
data1['gender K=female E=male'] = le.fit_transform(data1['gender K=female E=male'])

In [16]:
data1['PCR_result'] = le.fit_transform(data1['PCR_result'])

In [17]:
data1.rename(columns={'gender K=female E=male': 'gender'}, inplace=True)

In [18]:
data1.head()

,patient ID,nationality,age,gender,date_of_first_symptoms,fever_temperature,oxygen_saturation,history_of_fever,cough,sore_throat,...,chronic_hematologic_disease,AIDS_HIV,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,PCR_result
0,11850006,Turkish,47,1,2022-01-01,38.2,96.0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1
1,4373630,Turkish,23,1,2022-01-01,37.0,96.0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1
2,12172023,Turkish,26,1,2022-01-01,38.0,95.0,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1
3,72856168,Turkish,60,1,2022-01-01,36.5,95.0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1
4,72200559,Turkish,72,1,2021-12-22,36.9,96.0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1

In [19]:
data1['nationality'].value_counts()

nationality
Turkish                           12618
Azerbaijan                           67
Uzbekistan                           66
United Kingdom (Great Britain)       65
Turkmenistan                         60
                                  ...
Yemen                                 1
Guinea                                1
El Salvador                           1
Cameroon                              1
Singapore                             1
Name: count, Length: 97, dtype: int64

In [23]:
data1['oxygen_saturation'].value_counts().sort_values(ascending=False)

oxygen_saturation
 96.000000     3345
 95.000000     3038
 97.000000     1675
 98.000000     1122
 94.000000      835
 89.000000      570
 88.000000      515
 99.000000      480
 90.000000      380
 87.000000      246
 91.000000      192
 86.000000      181
 92.000000      144
 80.000000      137
 85.000000      113
 93.000000      112
 79.000000      102
 81.000000       72
 0.000000        59
 100.000000      51
 78.000000       41
 84.000000       30
 82.000000       21
 77.000000       17
-1.000000        15
 83.000000       13
 70.000000       11
 69.000000        8
 71.000000        4
 93.683639        4
 76.000000        3
Name: count, dtype: int64

## DATA 2

In [24]:
data2['admission_id'].value_counts().sort_values(ascending=False)

admission_id
1.0      1688
2.0       942
3.0       627
4.0       459
5.0       375
         ...
328.0       1
253.0       1
241.0       1
609.0       1
449.0       1
Name: count, Length: 320, dtype: int64

In [25]:
data2.loc[data2['admission_date'] != data2['date_of_first_symptoms']]

,patient_id,admission_id,country_of_residence,age,sex,date_of_first_symptoms,admission_date,fever_temperature,oxygen_saturation,history_of_fever,...,chronic_hematologic_disease,AIDS_HIV,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,PCR_result
0,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
12735,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,positive
12736,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,positive