# Preprocessing data 2 (hospital2.xlsx)

In [1]:
import pandas as pd
import psycopg2

## Get the data from Supabase

In [2]:
# Datos de conexi√≥n de Supabase
host = "aws-0-us-east-1.pooler.supabase.com"
user = "postgres.bfpvgfrvcwmresxlsium"
password = "jExls2hLZ0Wvyjbt"
dbname = "postgres"

# Conectar a la base de datos PostgreSQL en Supabase
conn = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    dbname=dbname
)
cursor = conn.cursor()

print("Conectado a Supabase.")

Conectado a Supabase.

In [3]:
query = "SELECT * FROM hospital2_data"
data2 = pd.read_sql_query(query, conn)

C:\Users\javip\AppData\Local\Temp\ipykernel_17560\3736651304.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data2 = pd.read_sql_query(query, conn)

En primer lugar, vamos a observar como recibimos los datos.

In [77]:
data2

,patient_id,x0_Azerbaijan,x0_Other,x0_T.C.,age,sex,date_of_first_symptoms,fever_temperature,oxygen_saturation,history_of_fever,cough,sore_throat,runny_nose,wheezing,shortness_of_breath,lower_chest_wall_indrawing,chest_pain,conjunctivitis,lymphadenopathy,headache,loss_of_smell,loss_of_taste,fatigue_malaise,anorexia,altered_consciousness_confusion,muscle_aches,joint_pain,inability_to_walk,abdominal_pain,diarrhoea,vomiting_nausea,skin_rash,bleeding,other_symptoms,chronic_cardiac_disease,hypertension,chronic_pulmonary_disease,asthma,chronic_kidney_disease,obesity,liver_disease,asplenia,chronic_neurological_disorder,malignant_neoplasm,chronic_hematologic_disease,aids_hiv,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,pcr_result
0,36069621,0.0,0.0,1.0,47.0,0,2021-03-01 08:38:00,38.0,95.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,57644199,0.0,0.0,1.0,35.0,1,2021-03-01 08:39:00,37.5,88.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,81365404,0.0,0.0,1.0,30.0,0,2021-03-01 09:25:00,37.8,87.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
3,82027164,0.0,0.0,1.0,42.0,1,2021-03-01 09:50:00,36.9,89.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,25804329,0.0,0.0,1.0,36.0,0,2021-03-01 09:52:00,36.8,95.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12695,74182927,0.0,0.0,1.0,67.0,0,2022-03-13 14:45:00,36.6,95.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12696,63144550,0.0,0.0,1.0,58.0,0,2022-03-13 14:48:00,37.7,96.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
12697,69906416,0.0,0.0,1.0,38.0,0,2022-03-13 15:44:00,36.9,87.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12698,51323961,0.0,0.0,1.0,45.0,0,2022-03-13 15:45:00,39.2,96.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
12699,55408811,0.0,0.0,1.0,42.0,1,2022-03-13 17:23:00,37.4,98.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

En primer lugar, observamos que la primera fila est√° compuesta de valores nulos, por tanto, vamos a eliminarla ya que no nos da ning√∫n tipo de informaci√≥n.

In [6]:
data2.drop(index=0, inplace=True)

## ¬øColumnas redundantes?

Al igual que con el dataset anterior, vamos a ver si existen columnas redundantes. 

En este caso, observamos que las columnas "date_of_first_symptoms" y "admission_date" parecen tener los mismos valores. Vamos a comprobarlo.

In [7]:
data2.loc[(data2['date_of_first_symptoms'] != data2['admission_date'])]

,patient_id,admission_id,country_of_residence,age,sex,date_of_first_symptoms,admission_date,fever_temperature,oxygen_saturation,history_of_fever,...,chronic_hematologic_disease,aids_hiv,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,pcr_result
162,-1,-1,None,NaN,None,None,None,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,None
12703,-1,-1,None,NaN,None,None,None,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,positive
12704,-1,-1,None,NaN,None,None,None,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,positive

Observamos que las √∫nicas columnas que son diferentes son aquellas donde casi todos los valores son nulos. 

Por tanto, al igual que antes, eliminaremos la columna admission_date ya que es una columna redundante, y posteriormente inspeccionaremos estas filas de nulos.

In [8]:
data2.drop(['admission_date'], axis=1, inplace=True)

En cuanto a las filas, ya hemos encontrado 3 filas donde la mayor√≠a de sus valores son nulos. Esta situaci√≥n es an√≥mala, por lo que vamos a ver si existen m√°s registros as√≠:

In [9]:
data2[data2.isna().sum(axis=1) > 2]

,patient_id,admission_id,country_of_residence,age,sex,date_of_first_symptoms,fever_temperature,oxygen_saturation,history_of_fever,cough,...,chronic_hematologic_disease,aids_hiv,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,pcr_result
162,-1,-1,None,NaN,None,None,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,None
12703,-1,-1,None,NaN,None,None,NaN,NaN,NaN,0.0,...,0,0,0,0,0,0,0,0,0,positive
12704,-1,-1,None,NaN,None,None,NaN,NaN,NaN,0.0,...,0,0,0,0,0,0,0,0,0,positive

In [10]:
indices = data2[data2.isna().sum(axis=1) > 2].index.to_list()
data2.drop(indices, inplace=True)

In [11]:
data2['patient_id'] = data2['patient_id'].astype(int)

In [12]:
data2[data2.isna().sum(axis=1) > 2]

Empty DataFrame
Columns: [patient_id, admission_id, country_of_residence, age, sex, date_of_first_symptoms, fever_temperature, oxygen_saturation, history_of_fever, cough, sore_throat, runny_nose, wheezing, shortness_of_breath, lower_chest_wall_indrawing, chest_pain, conjunctivitis, lymphadenopathy, headache, loss_of_smell, loss_of_taste, fatigue_malaise, anorexia, altered_consciousness_confusion, muscle_aches, joint_pain, inability_to_walk, abdominal_pain, diarrhoea, vomiting_nausea, skin_rash, bleeding, other_symptoms, chronic_cardiac_disease, hypertension, chronic_pulmonary_disease, asthma, chronic_kidney_disease, obesity, liver_disease, asplenia, chronic_neurological_disorder, malignant_neoplasm, chronic_hematologic_disease, aids_hiv, diabetes_mellitus_type_1, diabetes_mellitus_type_2, rheumatologic_disorder, dementia, tuberculosis, smoking, other_risks, pcr_result]
Index: []

[0 rows x 53 columns]

### ¬øIncoherencias en el g√©nero?

Observamos que el primer valor de la columna "Gender" tiene la descripci√≥n de lo que significan los valores de la columna, en vez de un valor √∫nico. Por tanto, vamos a sustituirlo. Para ello, primero veremos si existen otros casos con ese ID para as√≠ observar el g√©nero que tienen.

In [13]:
data2[data2['patient_id'] == data2['patient_id'].iloc[0]]

,patient_id,admission_id,country_of_residence,age,sex,date_of_first_symptoms,fever_temperature,oxygen_saturation,history_of_fever,cough,...,chronic_hematologic_disease,aids_hiv,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,pcr_result
1,36069621,181,T.C.,47.0,K,2021-03-01 08:38:00,38.0,95.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,positive
5881,36069621,188,T.C.,47.0,K,2021-09-13 08:28:00,36.4,97.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,negative

Como observamos, en el caso de este paciente, se trata de un hombre, por tanto vamos a sustituir dicho valor y veremos si hay mas incoherencias en esta columna.

In [14]:
data2.loc[1, 'sex'] = 'E'

In [15]:
data2['sex'].value_counts()

sex
K    7669
E    5064
Name: count, dtype: int64

In [16]:
data2.groupby('patient_id')['sex'].nunique().value_counts()

sex
1    9422
2       1
Name: count, dtype: int64

No existen incoherencias en el g√©nero.

### ¬øIncoherencias en la Edad?

En este caso, vamos a ver si existen incoherencias en la edad que debamos tratar.

In [17]:
data2.sort_values(by='date_of_first_symptoms').iloc[[0, -1]]

,patient_id,admission_id,country_of_residence,age,sex,date_of_first_symptoms,fever_temperature,oxygen_saturation,history_of_fever,cough,...,chronic_hematologic_disease,aids_hiv,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,pcr_result
1,36069621,181,T.C.,47.0,E,2021-03-01 08:38:00,38.0,95.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,positive
12702,55408811,182,T.C.,41.0,K,2022-03-13 17:23:00,37.4,98.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,positive

Podemos observar que la diferencia de fechas de los s√≠ntomas nos indica que el paciente habr√° podido cumplir, como m√°ximo, dos a√±os. Esta situaci√≥n ocurrir√≠a en pacientes que se hayan hecho 2 PCRs distintas: la primera del 1 al 13 de marzo de 2021, y la segunda desde el 1 al 13 de marzo de 2022, siendo la primera fecha (MM/DD) anterior a la segunda. Veamos si estos casos existen.

In [18]:
patients_first_period = data2[data2['date_of_first_symptoms'] <= '2021-03-13']['patient_id']
patients_second_period = data2[data2['date_of_first_symptoms'] >= '2022-03-01']['patient_id']
list(set(patients_first_period) & set(patients_second_period))

[89537920, 81365404, 22219078, 96305535]

- Paciente 1:

In [19]:
data2[(data2['patient_id'] == 89537920) & ((data2['date_of_first_symptoms'] <= '2021-03-13') | (data2['date_of_first_symptoms'] >= '2022-03-01'))]

,patient_id,admission_id,country_of_residence,age,sex,date_of_first_symptoms,fever_temperature,oxygen_saturation,history_of_fever,cough,...,chronic_hematologic_disease,aids_hiv,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,pcr_result
60,89537920,12,T.C.,41.0,K,2021-03-03 15:38:00,36.5,90.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,positive
12638,89537920,16,T.C.,41.0,K,2022-03-11 09:25:00,36.7,97.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,negative

- Paciente 2:

In [20]:
data2[(data2['patient_id'] == 22219078) & ((data2['date_of_first_symptoms'] <= '2021-03-13') | (data2['date_of_first_symptoms'] >= '2022-03-01'))]

,patient_id,admission_id,country_of_residence,age,sex,date_of_first_symptoms,fever_temperature,oxygen_saturation,history_of_fever,cough,...,chronic_hematologic_disease,aids_hiv,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,pcr_result
205,22219078,4,T.C.,34.0,K,2021-03-12 08:35:00,38.3,89.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,positive
12468,22219078,7,T.C.,36.0,K,2022-03-06 09:50:00,36.8,97.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,positive

- Paciente 3:

In [21]:
data2[(data2['patient_id'] == 88567155) & ((data2['date_of_first_symptoms'] <= '2021-03-13') | (data2['date_of_first_symptoms'] >= '2022-03-01'))]

,patient_id,admission_id,country_of_residence,age,sex,date_of_first_symptoms,fever_temperature,oxygen_saturation,history_of_fever,cough,...,chronic_hematologic_disease,aids_hiv,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,pcr_result
12308,88567155,51,T.C.,53.0,E,2022-03-01 07:57:00,36.7,94.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,positive

- Paciente 4:

In [22]:
data2[(data2['patient_id'] == 81365404) & ((data2['date_of_first_symptoms'] <= '2021-03-13') | (data2['date_of_first_symptoms'] >= '2022-03-01'))]

,patient_id,admission_id,country_of_residence,age,sex,date_of_first_symptoms,fever_temperature,oxygen_saturation,history_of_fever,cough,...,chronic_hematologic_disease,aids_hiv,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,pcr_result
3,81365404,32,T.C.,30.0,E,2021-03-01 09:25:00,37.8,87.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,positive
12450,81365404,38,T.C.,30.0,E,2022-03-05 13:13:00,36.7,95.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,positive

- Paciente 5:

In [23]:
data2[(data2['patient_id'] == 96305535) & ((data2['date_of_first_symptoms'] <= '2021-03-13') | (data2['date_of_first_symptoms'] >= '2022-03-01'))]

,patient_id,admission_id,country_of_residence,age,sex,date_of_first_symptoms,fever_temperature,oxygen_saturation,history_of_fever,cough,...,chronic_hematologic_disease,aids_hiv,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,pcr_result
194,96305535,13,T.C.,31.0,E,2021-03-11 13:29:00,38.4,95.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,positive
12314,96305535,16,T.C.,31.0,E,2022-03-01 08:58:00,37.2,96.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,positive

Analizando los 5 pacientes, solo 3 de ellos cumplen las condiciones que exig√≠amos: 89537920, 88567155, 81365404. Por tanto, estos 3 pacientes han cumplido, con toda seguridad, un a√±o entre una PCR y otra. Los trataremos por separado.

Al igual que en el dataset anterior, veamos si hay incoherencias de edad y c√≥mo son:

In [24]:
def age_incoherences_2(min_difference):
    age_diffs = data2.groupby('patient_id')['age'].agg(lambda x: x.max() - x.min())
    count = (age_diffs >= min_difference).sum()
    indexes = age_diffs[age_diffs >= min_difference].index
    return count, indexes

In [25]:
print("Diferencias de 1 o m√°s a√±os: ", age_incoherences_2(1)[0])
print("Diferencias de 2 o m√°s a√±os: ", age_incoherences_2(2)[0])
print("Diferencias de 3 o m√°s a√±os: ", age_incoherences_2(3)[0])

Diferencias de 1 o m√°s a√±os:  1642
Diferencias de 2 o m√°s a√±os:  793
Diferencias de 3 o m√°s a√±os:  159

Con esto, podemos verificar que existen aproximadamente cerca de 1000 personas cuya edad ha sido codificada err√≥neamente. Ante esta situaci√≥n, se pueden tomar las soluciones propuestas anteriormente. En este caso, al igual que en el anterior vamos a optar por la soluci√≥n A, que consiste en lo siguiente: 
La soluci√≥n m√°s b√°sica ser√≠a poner la misma edad a todos los personas que repitan PCR. Esta podr√≠a ser la m√°s baja, la m√°s alta, la que est√© entre las dos (si la diferencia es de 2), o la m√°s repetida. Esta soluci√≥n evitar√≠a incoherencias de edad.

Para ello, volveremos a hacer uso de la funci√≥n anterior. Concretamente, elegimos la edad m√°s repetida en los registros de la persona.

Vamos a tomar el ejemplo donde hemos cambiado el sexo para ver si se modifican las edades correctamente.

In [26]:
data2[data2['patient_id'] == data2['patient_id'].iloc[0]]

,patient_id,admission_id,country_of_residence,age,sex,date_of_first_symptoms,fever_temperature,oxygen_saturation,history_of_fever,cough,...,chronic_hematologic_disease,aids_hiv,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,pcr_result
1,36069621,181,T.C.,47.0,E,2021-03-01 08:38:00,38.0,95.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,positive
5881,36069621,188,T.C.,47.0,K,2021-09-13 08:28:00,36.4,97.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,negative

Como observamos en este caso, la edad est√° mal codificada ya que en marzo de 2021 el paciente tiene 52 a√±os mientras que 6 meses despu√©s tiene 51 a√±os. Por tanto, usaremos la moda para modificar los valores.

In [27]:
def mode_or_min(series):
    return series.mode()[0]
data2['age'] = data2.groupby('patient_id')['age'].transform(mode_or_min)

Comprobamos si se han modificado los valores.

In [28]:
data2[data2['patient_id'] == data2['patient_id'].iloc[0]]

,patient_id,admission_id,country_of_residence,age,sex,date_of_first_symptoms,fever_temperature,oxygen_saturation,history_of_fever,cough,...,chronic_hematologic_disease,aids_hiv,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,pcr_result
1,36069621,181,T.C.,47.0,E,2021-03-01 08:38:00,38.0,95.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,positive
5881,36069621,188,T.C.,47.0,K,2021-09-13 08:28:00,36.4,97.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,negative

As√≠, podemos observar que los datos se han modificado correctamente.

Para tratar las incoherencias en aquellos 3 casos excepcionales, lo haremos manualmente. Veamos el ejemplo del paciente con ID 89537920.

In [29]:
data2[data2['patient_id'] == 89537920]

,patient_id,admission_id,country_of_residence,age,sex,date_of_first_symptoms,fever_temperature,oxygen_saturation,history_of_fever,cough,...,chronic_hematologic_disease,aids_hiv,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,pcr_result
60,89537920,12,T.C.,41.0,K,2021-03-03 15:38:00,36.5,90.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,positive
6737,89537920,15,T.C.,41.0,K,2021-10-04 08:19:00,38.1,97.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,negative
12638,89537920,16,T.C.,41.0,K,2022-03-11 09:25:00,36.7,97.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,negative

Ahora mismo existe una incoherencia, pues en su 3¬™ PCR deber√≠a tener un a√±o m√°s que en la primera, como m√≠nimo. Apliquemos esta operaci√≥n con los 3 casos:

In [30]:
data2.loc[(data2['patient_id'] == 89537920) & (data2['date_of_first_symptoms'] == '2022-03-11 09:25:00'), 'age'] = 42
data2.loc[(data2['patient_id'] == 88567155) & (data2['date_of_first_symptoms'] == '2022-03-01 07:57:00'), 'age'] = 52
data2.loc[(data2['patient_id'] == 81365404) & (data2['date_of_first_symptoms'] == '2022-03-05 13:13:00'), 'age'] = 31

In [31]:
data2[data2['patient_id'] == 89537920]

,patient_id,admission_id,country_of_residence,age,sex,date_of_first_symptoms,fever_temperature,oxygen_saturation,history_of_fever,cough,...,chronic_hematologic_disease,aids_hiv,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,pcr_result
60,89537920,12,T.C.,41.0,K,2021-03-03 15:38:00,36.5,90.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,positive
6737,89537920,15,T.C.,41.0,K,2021-10-04 08:19:00,38.1,97.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,negative
12638,89537920,16,T.C.,42.0,K,2022-03-11 09:25:00,36.7,97.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,negative

Ahora s√≠, finalmente, no existen incoherencias en la edad.

### ¬øIncoherencias en la nacionalidad?

En primer lugar, para comprobar si existen incoherencias en este caso, debemos comprobar si existen registros que tienen el mismo ID pero con diferente nacionalidad. En el caso de nuestros datos, la columna se denomina "country_of_residence".

In [32]:
data2.groupby('patient_id')['country_of_residence'].nunique().value_counts()

country_of_residence
1    9394
2      29
Name: count, dtype: int64

Podemos determinar con certeza que existen 29 IDs que contienen alguna incoherencia en la nacionalidad.

In [33]:
ids_of_nationality_incoherences = data2.groupby('patient_id')['country_of_residence'].nunique().loc[lambda x: x > 1].index

In [34]:
data2.loc[data2['patient_id'].isin(ids_of_nationality_incoherences)].sort_values(by='patient_id')

,patient_id,admission_id,country_of_residence,age,sex,date_of_first_symptoms,fever_temperature,oxygen_saturation,history_of_fever,cough,...,chronic_hematologic_disease,aids_hiv,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,pcr_result
751,1139027,8,Azerbaijan,17.0,K,2021-03-29 15:37:00,38.3,79.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,positive
6365,1139027,11,T.C.,17.0,K,2021-09-24 00:31:00,36.9,98.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,positive
5936,1331997,145,Ireland,36.0,K,2021-09-14 08:54:00,36.3,95.0,1.0,0.0,...,0,0,0,0,0,0,0,1,0,positive
12283,1331997,151,T.C.,36.0,K,2022-02-28 13:12:00,37.4,96.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,positive
7691,1331997,149,T.C.,36.0,K,2021-11-01 09:43:00,39.0,96.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,91145408,8,T.C.,21.0,E,2021-03-30 11:21:00,37.9,97.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,positive
10176,99454396,6,T.C.,23.0,K,2022-01-12 14:52:00,37.0,97.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,positive
2544,99454396,3,Pakistan,23.0,K,2021-05-04 11:59:00,38.7,89.0,0.0,0.0,...,0,0,0,0,0,0,0,1,0,positive
12391,99454396,7,T.C.,23.0,K,2022-03-03 11:00:00,38.1,97.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,positive
3655,99454396,4,T.C.,23.0,K,2021-07-06 13:34:00,39.1,96.0,1.0,0.0,...,0,0,0,0,0,0,0,1,0,positive

Podemos observar que en absolutamente todos se repite que un registro de la persona con nacionalidad no es T.C pero en el resto de registros es T.C que corresponde a la nacionalidad turca. Para hacerlo m√°s sencillo, vamos a asumir que estas personas son turcas y, por tanto, vamos a cambiar los valores donde se indique lo contrario.

Como hemos comentado con el dataset anterior, esta asunci√≥n puede ser err√≥nea pero pensamos que la nacionalidad no ser√° un factor muy relevante en la predicci√≥n y esta simplificaci√≥n permitir√° evitar posibles incoherencias futuras.

In [35]:
for id in ids_of_nationality_incoherences:
    data2.loc[data2['patient_id'] == id, 'country_of_residence'] = "T.C."

In [36]:
data2.loc[data2['patient_id'].isin(ids_of_nationality_incoherences)].sort_values(by='patient_id')

,patient_id,admission_id,country_of_residence,age,sex,date_of_first_symptoms,fever_temperature,oxygen_saturation,history_of_fever,cough,...,chronic_hematologic_disease,aids_hiv,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,pcr_result
751,1139027,8,T.C.,17.0,K,2021-03-29 15:37:00,38.3,79.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,positive
6365,1139027,11,T.C.,17.0,K,2021-09-24 00:31:00,36.9,98.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,positive
5936,1331997,145,T.C.,36.0,K,2021-09-14 08:54:00,36.3,95.0,1.0,0.0,...,0,0,0,0,0,0,0,1,0,positive
12283,1331997,151,T.C.,36.0,K,2022-02-28 13:12:00,37.4,96.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,positive
7691,1331997,149,T.C.,36.0,K,2021-11-01 09:43:00,39.0,96.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,91145408,8,T.C.,21.0,E,2021-03-30 11:21:00,37.9,97.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,positive
10176,99454396,6,T.C.,23.0,K,2022-01-12 14:52:00,37.0,97.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,positive
2544,99454396,3,T.C.,23.0,K,2021-05-04 11:59:00,38.7,89.0,0.0,0.0,...,0,0,0,0,0,0,0,1,0,positive
12391,99454396,7,T.C.,23.0,K,2022-03-03 11:00:00,38.1,97.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,positive
3655,99454396,4,T.C.,23.0,K,2021-07-06 13:34:00,39.1,96.0,1.0,0.0,...,0,0,0,0,0,0,0,1,0,positive

As√≠, las nacionalidades donde hab√≠a incoherencias se han convertido en T.C

## Transformaci√≥n de columnas

Primero de todo, vamos a definir las columnas que vamos a transformar a valores num√©ricos. En el caso de este dataset, corresponde con las columnas "country_of_residence", "sex", "pcr_result".

In [37]:
any_null_cols_2 = data2.columns[data2.isnull().any()]
data2[any_null_cols_2].isnull().sum()

fever_temperature    1219
oxygen_saturation       4
history_of_fever        5
bleeding               36
other_symptoms         36
pcr_result             33
dtype: int64

#### pcr_result

Vamos a empezar por la variable que vamos a predecir, el resultado de la prueba PCR. En este caso, como hemos indicado anteriormente, debemos transformarla a valores num√©ricos, pero primero debemos ver que hacemos con los datos nulos.

En este caso al tratarse de la variable a predecir, no tendr√≠a sentido imputar los datos nulos. Por tanto, procedemos a eliminarlos.

In [38]:
data2.dropna(subset=['pcr_result'], inplace=True)

Ahora s√≠, transformamos la columna. Usaremos un LabelEncoder(), importado anteriormente.

In [39]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
pcr_result_encoder = LabelEncoder()

In [40]:
data2['pcr_result'] = pcr_result_encoder.fit_transform(data2['pcr_result'])

data2['pcr_result'].value_counts()

pcr_result
1    9775
0    2925
Name: count, dtype: int64

### Country of residence

En segundo lugar, vamos a tratar la columna de nacionalidad de la misma manera con la que lo tratamos preprocesando el dataset 1. T.C. ccorresponde a Turqu√≠a. En primer lugar, vemos si las clases esta√°n balanceadas

In [41]:
data2['country_of_residence'].value_counts()

country_of_residence
T.C.                              12321
Azerbaijan                          138
Russia                               28
Kyrgyzstan                           20
Iraq                                 11
                                  ...
Seychelles                            1
British Indian Ocean Territory        1
Ethiopia                              1
Nigeria                               1
Australia                             1
Name: count, Length: 67, dtype: int64

Como observamos, apreciamos que las clases no est√°n balanceadas, la gran mayor√≠a de pacientes son turcos.

Para una mejor aplicaci√≥n de OneHotEncoder, vamos a establecer un umbral de 60 personas. Es decir, aquellos pa√≠ses con +60 personas se mantienen y el resto se introduce en una nueva categor√≠a llamada "Otros".

In [42]:
countries_with_less_than_60_patients = data2['country_of_residence'].value_counts().loc[lambda x: x < 60].index

In [43]:
data2.loc[data2['country_of_residence'].isin(countries_with_less_than_60_patients), 'country_of_residence'] = "Other"

In [44]:
data2['country_of_residence'].value_counts()

country_of_residence
T.C.          12321
Other           241
Azerbaijan      138
Name: count, dtype: int64

Aunque la clase sigue desbalanceada, ahora no hay pa√≠ses que apenas tengan representaci√≥n.

Ahora, pasamos a la transformaci√≥n de la columna a datos num√©ricos:

In [45]:
country_of_residence_encoder = OneHotEncoder(sparse_output=False)

encoded_country_of_residence = country_of_residence_encoder.fit_transform(data2['country_of_residence'].values.reshape(-1, 1))

encoded_country_of_residence_df = pd.DataFrame(encoded_country_of_residence, columns=country_of_residence_encoder.get_feature_names_out())

data2 = data2.reset_index(drop=True)
data2 = pd.concat([data2['patient_id'], encoded_country_of_residence_df, data2.loc[:, 'age':]], axis=1)
data2

,patient_id,x0_Azerbaijan,x0_Other,x0_T.C.,age,sex,date_of_first_symptoms,fever_temperature,oxygen_saturation,history_of_fever,...,chronic_hematologic_disease,aids_hiv,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,pcr_result
0,36069621,0.0,0.0,1.0,47.0,E,2021-03-01 08:38:00,38.0,95.0,1.0,...,0,0,0,0,0,0,0,0,0,1
1,57644199,0.0,0.0,1.0,35.0,K,2021-03-01 08:39:00,37.5,88.0,0.0,...,0,0,0,0,0,0,0,0,0,1
2,81365404,0.0,0.0,1.0,30.0,E,2021-03-01 09:25:00,37.8,87.0,1.0,...,0,0,0,0,0,0,0,0,0,1
3,82027164,0.0,0.0,1.0,42.0,K,2021-03-01 09:50:00,36.9,89.0,0.0,...,0,0,0,0,0,0,0,0,0,1
4,25804329,0.0,0.0,1.0,36.0,E,2021-03-01 09:52:00,36.8,95.0,0.0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12695,74182927,0.0,0.0,1.0,67.0,E,2022-03-13 14:45:00,36.6,95.0,0.0,...,0,0,0,0,0,0,0,0,0,0
12696,63144550,0.0,0.0,1.0,58.0,E,2022-03-13 14:48:00,37.7,96.0,0.0,...,0,0,0,0,0,0,0,0,0,1
12697,69906416,0.0,0.0,1.0,38.0,E,2022-03-13 15:44:00,36.9,87.0,1.0,...,0,0,0,0,0,0,0,0,0,0
12698,51323961,0.0,0.0,1.0,45.0,E,2022-03-13 15:45:00,39.2,96.0,0.0,...,0,0,0,0,0,0,0,0,0,1
12699,55408811,0.0,0.0,1.0,42.0,K,2022-03-13 17:23:00,37.4,98.0,0.0,...,0,0,0,0,0,0,0,0,0,1

### G√©nero

El g√©nero, es simple de transformar ya que no tiene valores nulos y son dos categor√≠as.

In [46]:
data2['sex'].value_counts()

sex
K    7648
E    5052
Name: count, dtype: int64

Transformamos la columna, sabiendo que K = Female y E = Male

In [47]:
gender_encoder = LabelEncoder()
data2['sex'] = gender_encoder.fit_transform(data2['sex'])

In [48]:
data2

,patient_id,x0_Azerbaijan,x0_Other,x0_T.C.,age,sex,date_of_first_symptoms,fever_temperature,oxygen_saturation,history_of_fever,...,chronic_hematologic_disease,aids_hiv,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,pcr_result
0,36069621,0.0,0.0,1.0,47.0,0,2021-03-01 08:38:00,38.0,95.0,1.0,...,0,0,0,0,0,0,0,0,0,1
1,57644199,0.0,0.0,1.0,35.0,1,2021-03-01 08:39:00,37.5,88.0,0.0,...,0,0,0,0,0,0,0,0,0,1
2,81365404,0.0,0.0,1.0,30.0,0,2021-03-01 09:25:00,37.8,87.0,1.0,...,0,0,0,0,0,0,0,0,0,1
3,82027164,0.0,0.0,1.0,42.0,1,2021-03-01 09:50:00,36.9,89.0,0.0,...,0,0,0,0,0,0,0,0,0,1
4,25804329,0.0,0.0,1.0,36.0,0,2021-03-01 09:52:00,36.8,95.0,0.0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12695,74182927,0.0,0.0,1.0,67.0,0,2022-03-13 14:45:00,36.6,95.0,0.0,...,0,0,0,0,0,0,0,0,0,0
12696,63144550,0.0,0.0,1.0,58.0,0,2022-03-13 14:48:00,37.7,96.0,0.0,...,0,0,0,0,0,0,0,0,0,1
12697,69906416,0.0,0.0,1.0,38.0,0,2022-03-13 15:44:00,36.9,87.0,1.0,...,0,0,0,0,0,0,0,0,0,0
12698,51323961,0.0,0.0,1.0,45.0,0,2022-03-13 15:45:00,39.2,96.0,0.0,...,0,0,0,0,0,0,0,0,0,1
12699,55408811,0.0,0.0,1.0,42.0,1,2022-03-13 17:23:00,37.4,98.0,0.0,...,0,0,0,0,0,0,0,0,0,1

Una vez que ya hemos tratado las columnas que eran necesarias transformar, pasamos al tratamiento de nulos.

## Tratamiento de nulos

In [49]:
any_null_cols_2 = data2.columns[data2.isnull().any()]
data2[any_null_cols_2].isnull().sum()

fever_temperature    1217
oxygen_saturation       4
history_of_fever        5
bleeding               36
other_symptoms         36
dtype: int64

Como se puede observar, √∫nicamente tenemos cinco categor√≠as donde abordaremos los valores nulos. Comenzaremos tratando las variables relacionadas con "other_symptoms" y "bleeding". En este caso, interpretamos que un valor nulo indica que no se ha detectado sangrado ni otros s√≠ntomas durante las pruebas. Por lo tanto, imputaremos estos valores asumiendo que no han presentado dichos s√≠ntomas.

In [50]:
data2['bleeding'].fillna(0, inplace=True)
data2['other_symptoms'].fillna(0, inplace=True)

C:\Users\javip\AppData\Local\Temp\ipykernel_17560\916575593.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2['bleeding'].fillna(0, inplace=True)
C:\Users\javip\AppData\Local\Temp\ipykernel_17560\916575593.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2['other_symptoms'].fillna(0, inplace=True)

In [51]:
any_null_cols_2 = data2.columns[data2.isnull().any()]
data2[any_null_cols_2].isnull().sum()

fever_temperature    1217
oxygen_saturation       4
history_of_fever        5
dtype: int64

Una vez tratados estos, vamos a ver los nulos de "history_of_fever" ya que puede ser que tenga un valor nulo en esta columna, pero en otro momento haya tenido fiebre el paciente o tenga fiebre en ese momento y no haya sido registrado correctamente. En nuestro caso, consideraremos que un paciente tiene fiebre si su temperatura supera los 38 C¬∫.

In [52]:
data2[data2['history_of_fever'].isnull()].head()

,patient_id,x0_Azerbaijan,x0_Other,x0_T.C.,age,sex,date_of_first_symptoms,fever_temperature,oxygen_saturation,history_of_fever,...,chronic_hematologic_disease,aids_hiv,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,pcr_result
2073,93931390,0.0,0.0,1.0,45.0,0,2021-04-21 11:29:00,37.2,98.0,NaN,...,0,0,0,0,0,0,0,0,0,1
3058,6486188,0.0,0.0,1.0,32.0,1,2021-06-01 00:16:00,NaN,95.0,NaN,...,0,0,0,0,0,0,0,0,0,1
3094,69140194,0.0,0.0,1.0,33.0,0,2021-06-03 08:06:00,NaN,95.0,NaN,...,0,0,0,0,0,0,0,0,0,1
3100,84804508,0.0,0.0,1.0,64.0,0,2021-06-03 13:53:00,NaN,89.0,NaN,...,0,0,0,0,0,0,0,0,0,1
4648,52708151,0.0,0.0,1.0,35.0,1,2021-08-10 21:45:00,36.7,96.0,NaN,...,0,0,0,0,0,0,0,0,0,0

Como vemos en estos 5 casos, 3 de ellos no tienen registro de temperatura de fiebre. Por tanto, vamos a ver otros registros de esos pacientes con ese ID para ver si podemos obtener algo m√°s de informaci√≥n

In [53]:
ids_with_null_history_of_fever = data2[data2['history_of_fever'].isnull()]['patient_id']

# See the lines where id is in ids_with_null_history_of_fever
data2[data2['patient_id'].isin(ids_with_null_history_of_fever)].head()

,patient_id,x0_Azerbaijan,x0_Other,x0_T.C.,age,sex,date_of_first_symptoms,fever_temperature,oxygen_saturation,history_of_fever,...,chronic_hematologic_disease,aids_hiv,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,pcr_result
2073,93931390,0.0,0.0,1.0,45.0,0,2021-04-21 11:29:00,37.2,98.0,NaN,...,0,0,0,0,0,0,0,0,0,1
2855,69140194,0.0,0.0,1.0,33.0,0,2021-05-19 08:22:00,38.0,90.0,1.0,...,0,0,0,0,0,0,0,0,0,1
3058,6486188,0.0,0.0,1.0,32.0,1,2021-06-01 00:16:00,NaN,95.0,NaN,...,0,0,0,0,0,0,0,0,0,1
3094,69140194,0.0,0.0,1.0,33.0,0,2021-06-03 08:06:00,NaN,95.0,NaN,...,0,0,0,0,0,0,0,0,0,1
3100,84804508,0.0,0.0,1.0,64.0,0,2021-06-03 13:53:00,NaN,89.0,NaN,...,0,0,0,0,0,0,0,0,0,1

In [54]:
data2['history_of_fever'].value_counts()

history_of_fever
1.0    9818
0.0    2877
Name: count, dtype: int64

Vemos que hay un caso donde ya ha tenido fiebre antes, por tanto el valor del historial de fiebre para ese paciente debe ser uno ya que lo ha tenido. Para los otros casos, como no se sabe la temperatura, y donde sabemos las temperaturas no superan el umbral de fiebre, a√±adimos que no ha tenido historial de fiebre.

In [55]:
data2.loc[data2['patient_id'] == 69140194, 'history_of_fever'] = 1
data2['history_of_fever'].fillna(0 , inplace=True)

C:\Users\javip\AppData\Local\Temp\ipykernel_17560\2659043205.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2['history_of_fever'].fillna(0 , inplace=True)

In [56]:
any_null_cols_2 = data2.columns[data2.isnull().any()]
data2[any_null_cols_2].isnull().sum()

fever_temperature    1217
oxygen_saturation       4
dtype: int64

### Fever_Temperature

Para imputar los valores de 'fever_temperature', intentaremos crear un modelo de regresi√≥n con todas las dem√°s variables num√©ricas, y seg√∫n su R^2 lo utilizaremos o no.

In [57]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR

fever_temperature_data = data2.dropna(subset=['fever_temperature'])
X = fever_temperature_data.drop(['patient_id', 'fever_temperature', 'date_of_first_symptoms', 'oxygen_saturation'], axis=1)
y = fever_temperature_data['fever_temperature']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Linear Regression
fever_temperature_LR = LinearRegression()
fever_temperature_LR.fit(X_train, y_train)

predicted_fever_temperature_LR = fever_temperature_LR.predict(X_test)

# SVR
fever_temperature_SVR = SVR()
fever_temperature_SVR.fit(X_train, y_train)

predicted_fever_temperature_SVR = fever_temperature_SVR.predict(X_test)

In [58]:
from sklearn.metrics import r2_score

print("El R2 score para el modelo de Regresi√≥n Lineal es", r2_score(y_test, predicted_fever_temperature_LR))
print("El R2 score para el modelo de SVR es", r2_score(y_test, predicted_fever_temperature_SVR))

El R2 score para el modelo de Regresi√≥n Lineal es -0.005162725226278031
El R2 score para el modelo de SVR es -0.0354314454518978

Como vemos, los modelos creados tienen un R2 incluso negativo, es decir, no sirven de absolutamente nada. De hecho, son peores que la imputaci√≥n con la media. Por tanto, vamos a realizar una imputaci√≥n con la media.

Antes de imputar nos aseguramos de que no haya ning√∫n dato nulo escondido como un dato normal (por ejemplo, un -1), y para ello veremos el rango en el que se mueve, que deber√≠an de ser valores cercanos a 37.

In [59]:
data2['fever_temperature'].value_counts().sort_index()

fever_temperature
34.8       1
34.9       1
35.0       2
35.1       1
35.2       1
35.4       1
35.5       2
35.6       3
35.7       2
35.8      19
35.9      14
36.0      57
36.1      36
36.2      58
36.3     340
36.4     392
36.5    1020
36.6     670
36.7     813
36.8     681
36.9     498
37.0     648
37.1     417
37.2     560
37.3     378
37.4     365
37.5     279
37.6     231
37.7     200
37.8     307
37.9     352
38.0     665
38.1     474
38.2     516
38.3     301
38.4     185
38.5      79
38.6      58
38.7      27
38.8      87
38.9     121
39.0     224
39.1     191
39.2     136
39.3      57
39.4       7
39.5       1
39.6       4
40.1       1
Name: count, dtype: int64

Como vemos, los datos est√°n en un rango esperado, por tanto, podemos seguir con la imputaci√≥n de los datos.

In [60]:
data2['fever_temperature'] = data2['fever_temperature'].fillna(data2['fever_temperature'].mean())

In [61]:
any_null_cols_2 = data2.columns[data2.isnull().any()]
data2[any_null_cols_2].isnull().sum()

oxygen_saturation    4
dtype: int64

### Oxygen Saturation

In [62]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR

oxygen_saturation = data2.dropna(subset=['oxygen_saturation'])
X = oxygen_saturation.drop(['patient_id', 'fever_temperature', 'date_of_first_symptoms', 'oxygen_saturation'], axis=1)
y = oxygen_saturation['oxygen_saturation']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Linear Regression
oxygen_saturation_LR = LinearRegression()
oxygen_saturation_LR.fit(X_train, y_train)

predicted_oxygen_saturation_LR = oxygen_saturation_LR.predict(X_test)

# SVR
oxygen_saturation_SVR = SVR()
oxygen_saturation_SVR.fit(X_train, y_train)

predicted_oxygen_saturation_SVR = oxygen_saturation_SVR.predict(X_test)

In [63]:
print("El R2 score para el modelo de Regresi√≥n Lineal es", r2_score(y_test, predicted_oxygen_saturation_LR))
print("El R2 score para el modelo de SVR es", r2_score(y_test, predicted_oxygen_saturation_SVR))

El R2 score para el modelo de Regresi√≥n Lineal es -0.006214036496068109
El R2 score para el modelo de SVR es -0.036295947792883254

De nuevo volvemos a apreciar que los valores son negativos, lo que significa que los modelos no van a ser capaces de explicar la variabilidad y volvemos a seleccionar la media.

Antes de ello, volvemos a comprobar que no haya alg√∫n valor que realmente sea nulo, como por ejemplo los valores 0 y -1, ya que el nivel de saturaci√≥n en una persona sana es entre el 95% y el 100%.

In [64]:
data2['oxygen_saturation'].value_counts().sort_index()

oxygen_saturation
-1.0        15
 0.0        49
 68.0        1
 69.0        3
 70.0       11
 71.0        6
 73.0        1
 76.0        2
 77.0       22
 78.0       56
 79.0       96
 80.0      153
 81.0       50
 82.0       27
 83.0        7
 84.0       29
 85.0      104
 86.0      171
 87.0      258
 88.0      486
 89.0      618
 90.0      369
 91.0      201
 92.0      123
 93.0      117
 94.0      827
 95.0     2747
 96.0     3112
 97.0     1527
 98.0     1033
 99.0      417
 100.0      58
Name: count, dtype: int64

Existen valores de -1 y 0. Ambos valores no son v√°lidos y, por tanto, los consideramos nulos.

In [65]:
import numpy as np
data2.loc[data2['oxygen_saturation'].isin([-1, 0]), 'oxygen_saturation'] = np.nan

In [66]:
data2['oxygen_saturation'].value_counts().sort_index()

oxygen_saturation
68.0        1
69.0        3
70.0       11
71.0        6
73.0        1
76.0        2
77.0       22
78.0       56
79.0       96
80.0      153
81.0       50
82.0       27
83.0        7
84.0       29
85.0      104
86.0      171
87.0      258
88.0      486
89.0      618
90.0      369
91.0      201
92.0      123
93.0      117
94.0      827
95.0     2747
96.0     3112
97.0     1527
98.0     1033
99.0      417
100.0      58
Name: count, dtype: int64

Ahora podemos observar los valores reales de la distribuci√≥n. Sin embargo, tambi√©n se registran valores significativamente bajos, cercanos al 70%, lo que podr√≠a estar relacionado con alguna condici√≥n m√©dica grave.

In [67]:
data2['oxygen_saturation'].isna().sum()

68

Hemos pasado de tener 4 valores nulos a tener 69 nulos. Como hicimos antes, vamos a imputar los valores con la media.

In [68]:
data2['oxygen_saturation'] = data2['oxygen_saturation'].fillna(data2['oxygen_saturation'].mean())

As√≠, ya hemos acabado con el tratamiento de nulos y ya no existen nulos en los datos.

De igual manera, como hemos visto, existen valores con -1, lo que indica que son valores nulos. Por tanto, vamos a revisar que no exista este caso en el resto del dataset.

In [69]:
data2[data2 == -1].count()

patient_id                         0
x0_Azerbaijan                      0
x0_Other                           0
x0_T.C.                            0
age                                1
sex                                0
date_of_first_symptoms             0
fever_temperature                  0
oxygen_saturation                  0
history_of_fever                   0
cough                              0
sore_throat                        0
runny_nose                         0
wheezing                           0
shortness_of_breath                0
lower_chest_wall_indrawing         0
chest_pain                         0
conjunctivitis                     0
lymphadenopathy                    0
headache                           0
loss_of_smell                      0
loss_of_taste                      0
fatigue_malaise                    0
anorexia                           0
altered_consciousness_confusion    0
muscle_aches                       0
joint_pain                         0
inability_to_walk                  0
abdominal_pain                     0
diarrhoea                          0
vomiting_nausea                    0
skin_rash                          0
bleeding                           0
other_symptoms                     0
chronic_cardiac_disease            0
hypertension                       0
chronic_pulmonary_disease          0
asthma                             0
chronic_kidney_disease             0
obesity                            0
liver_disease                      0
asplenia                           0
chronic_neurological_disorder      0
malignant_neoplasm                 0
chronic_hematologic_disease        0
aids_hiv                           0
diabetes_mellitus_type_1           0
diabetes_mellitus_type_2           0
rheumatologic_disorder             0
dementia                           0
tuberculosis                       0
smoking                            0
other_risks                        0
pcr_result                         0
dtype: int64

Vemos, que solo existe un caso en la columna "age". Por tanto, vamos a hacer como antes, lo transformamos a nulo e imputamos el valor con la media.

In [70]:
data2.loc[data2['age'].isin([-1]), 'age'] = np.nan

In [71]:
data2['age'] = data2['age'].fillna(data2['age'].mean())

In [72]:
data2['age'].value_counts().sort_index()

age
0.0      1
1.0      1
4.0      1
6.0      1
8.0      1
        ..
91.0     3
92.0     6
93.0     2
94.0     2
100.0    1
Name: count, Length: 93, dtype: int64

As√≠, presuntamente, todos los valores son v√°lidos

In [73]:
data2.groupby('patient_id')['date_of_first_symptoms'].nunique()

patient_id
714         1
4809        1
15834       1
16047       1
35690       1
           ..
99939799    1
99947088    1
99955706    1
99976931    1
99993034    1
Name: date_of_first_symptoms, Length: 9401, dtype: int64

In [74]:
pd.set_option('display.max_columns', None)

In [75]:
data2[data2.duplicated(subset=['patient_id', 'date_of_first_symptoms'], keep=False)].sort_values(by=['patient_id', 'date_of_first_symptoms'])

Empty DataFrame
Columns: [patient_id, x0_Azerbaijan, x0_Other, x0_T.C., age, sex, date_of_first_symptoms, fever_temperature, oxygen_saturation, history_of_fever, cough, sore_throat, runny_nose, wheezing, shortness_of_breath, lower_chest_wall_indrawing, chest_pain, conjunctivitis, lymphadenopathy, headache, loss_of_smell, loss_of_taste, fatigue_malaise, anorexia, altered_consciousness_confusion, muscle_aches, joint_pain, inability_to_walk, abdominal_pain, diarrhoea, vomiting_nausea, skin_rash, bleeding, other_symptoms, chronic_cardiac_disease, hypertension, chronic_pulmonary_disease, asthma, chronic_kidney_disease, obesity, liver_disease, asplenia, chronic_neurological_disorder, malignant_neoplasm, chronic_hematologic_disease, aids_hiv, diabetes_mellitus_type_1, diabetes_mellitus_type_2, rheumatologic_disorder, dementia, tuberculosis, smoking, other_risks, pcr_result]
Index: []

Observamos, que no hay filas duplicadas bas√°ndonas en las columnas del ID y la fecha de los primeros s√≠ntomas.

## Creaci√≥n de nueva columna: previous_positives

Viendo que existen algunos patient_id que se repiten, hemos pensado en codificar esta informaci√≥n en fechas posteriores. As√≠, el modelo podr√° saber si esa persona ha pasado el COVID antes, o no. Esto es relevante ya que sabemos que tras pasarlo se generan anticuerpos que pueden influir en los resultados de la prueba o en la evoluci√≥n de la enfermedad.

Con el siguiente comando podemos acceder a esta informaci√≥n:

In [80]:
data2.groupby('patient_id')['pcr_result'].sum().sample(5)

patient_id
23170869    2
38585468    1
84927355    1
69254178    1
57406877    5
Name: pcr_result, dtype: int32

In [82]:
data2['date_of_first_symptoms'] = pd.to_datetime(data2['date_of_first_symptoms'])

In [85]:
def previous_positives(id, date):
    return data2.loc[(data2['patient_id'] == id) & (data2['date_of_first_symptoms'] < date), 'pcr_result'].sum()

In [86]:
data2['previous_positives'] = data2.apply(lambda x: previous_positives(x['patient_id'], x['date_of_first_symptoms']), axis=1)

In [87]:
data2[data2['patient_id'] == 89537920].sort_values(by='date_of_first_symptoms')[['date_of_first_symptoms', 'pcr_result', 'previous_positives']]

      date_of_first_symptoms  pcr_result  previous_positives
59       2021-03-03 15:38:00           1                   0
6734     2021-10-04 08:19:00           0                   1
12635    2022-03-11 09:25:00           0                   1

## Transformaci√≥n de la columna date_of_first_symptoms

Esta columna, de tipo de datetime puede ser transformada de varias maneras. Por ejemplo, ser√≠a interesante valorar el mes de primeros s√≠ntomas, pues sabemos que en el covid hubo determinadas "olas" donde la incidencia del virus era m√°s alta, y puede ser una informaci√≥n interesante a valorar. No obstante, como hacer 12 columnas (ya que tendr√≠a que ser one-hot) puede ser excesivo, vamos a hacerlo con las estaciones del a√±o.

In [88]:
def month_to_station(month):
    if month in [12, 1, 2]:
        return "Winter"
    elif month in [3, 4, 5]:
        return "Spring"
    elif month in [6, 7, 8]:
        return "Summer"
    else:
        return "Fall"

In [89]:
data2['station'] = data2['date_of_first_symptoms'].dt.month.apply(month_to_station)

In [95]:
data2[['date_of_first_symptoms', 'station']].sample(4)

      date_of_first_symptoms station
6970     2021-10-09 22:51:00    Fall
10041    2022-01-10 15:56:00  Winter
8719     2021-11-27 18:59:00    Fall
7273     2021-10-18 13:46:00    Fall

In [96]:
data2

,patient_id,x0_Azerbaijan,x0_Other,x0_T.C.,age,sex,date_of_first_symptoms,fever_temperature,oxygen_saturation,history_of_fever,cough,sore_throat,runny_nose,wheezing,shortness_of_breath,lower_chest_wall_indrawing,chest_pain,conjunctivitis,lymphadenopathy,headache,loss_of_smell,loss_of_taste,fatigue_malaise,anorexia,altered_consciousness_confusion,muscle_aches,joint_pain,inability_to_walk,abdominal_pain,diarrhoea,vomiting_nausea,skin_rash,bleeding,other_symptoms,chronic_cardiac_disease,hypertension,chronic_pulmonary_disease,asthma,chronic_kidney_disease,obesity,liver_disease,asplenia,chronic_neurological_disorder,malignant_neoplasm,chronic_hematologic_disease,aids_hiv,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,pcr_result,previous_positives,station
0,36069621,0.0,0.0,1.0,47.0,0,2021-03-01 08:38:00,38.0,95.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,Spring
1,57644199,0.0,0.0,1.0,35.0,1,2021-03-01 08:39:00,37.5,88.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,Spring
2,81365404,0.0,0.0,1.0,30.0,0,2021-03-01 09:25:00,37.8,87.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,Spring
3,82027164,0.0,0.0,1.0,42.0,1,2021-03-01 09:50:00,36.9,89.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,Spring
4,25804329,0.0,0.0,1.0,36.0,0,2021-03-01 09:52:00,36.8,95.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,Spring
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12695,74182927,0.0,0.0,1.0,67.0,0,2022-03-13 14:45:00,36.6,95.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,Spring
12696,63144550,0.0,0.0,1.0,58.0,0,2022-03-13 14:48:00,37.7,96.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,Spring
12697,69906416,0.0,0.0,1.0,38.0,0,2022-03-13 15:44:00,36.9,87.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,Spring
12698,51323961,0.0,0.0,1.0,45.0,0,2022-03-13 15:45:00,39.2,96.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,Spring
12699,55408811,0.0,0.0,1.0,42.0,1,2022-03-13 17:23:00,37.4,98.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,Spring

In [97]:
station_encoder = OneHotEncoder(sparse_output=False)

encoded_station = station_encoder.fit_transform(data2['station'].values.reshape(-1, 1))

encoded_station_df = pd.DataFrame(encoded_station, columns=station_encoder.get_feature_names_out())

data2 = data2.reset_index(drop=True)
data2 = pd.concat([data2.loc[:, :'sex'], encoded_station_df, data2.loc[:, 'fever_temperature':]], axis=1)
data2

,patient_id,x0_Azerbaijan,x0_Other,x0_T.C.,age,sex,x0_Fall,x0_Spring,x0_Summer,x0_Winter,fever_temperature,oxygen_saturation,history_of_fever,cough,sore_throat,runny_nose,wheezing,shortness_of_breath,lower_chest_wall_indrawing,chest_pain,conjunctivitis,lymphadenopathy,headache,loss_of_smell,loss_of_taste,fatigue_malaise,anorexia,altered_consciousness_confusion,muscle_aches,joint_pain,inability_to_walk,abdominal_pain,diarrhoea,vomiting_nausea,skin_rash,bleeding,other_symptoms,chronic_cardiac_disease,hypertension,chronic_pulmonary_disease,asthma,chronic_kidney_disease,obesity,liver_disease,asplenia,chronic_neurological_disorder,malignant_neoplasm,chronic_hematologic_disease,aids_hiv,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,pcr_result,previous_positives,station
0,36069621,0.0,0.0,1.0,47.0,0,0.0,1.0,0.0,0.0,38.0,95.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,Spring
1,57644199,0.0,0.0,1.0,35.0,1,0.0,1.0,0.0,0.0,37.5,88.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,Spring
2,81365404,0.0,0.0,1.0,30.0,0,0.0,1.0,0.0,0.0,37.8,87.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,Spring
3,82027164,0.0,0.0,1.0,42.0,1,0.0,1.0,0.0,0.0,36.9,89.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,Spring
4,25804329,0.0,0.0,1.0,36.0,0,0.0,1.0,0.0,0.0,36.8,95.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,Spring
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12695,74182927,0.0,0.0,1.0,67.0,0,0.0,1.0,0.0,0.0,36.6,95.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,Spring
12696,63144550,0.0,0.0,1.0,58.0,0,0.0,1.0,0.0,0.0,37.7,96.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,Spring
12697,69906416,0.0,0.0,1.0,38.0,0,0.0,1.0,0.0,0.0,36.9,87.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,Spring
12698,51323961,0.0,0.0,1.0,45.0,0,0.0,1.0,0.0,0.0,39.2,96.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,Spring
12699,55408811,0.0,0.0,1.0,42.0,1,0.0,1.0,0.0,0.0,37.4,98.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,Spring

In [98]:
data2.drop(['station'], axis=1, inplace=True)

Finalmente, este es el dataset que queda.

In [99]:
data2

,patient_id,x0_Azerbaijan,x0_Other,x0_T.C.,age,sex,x0_Fall,x0_Spring,x0_Summer,x0_Winter,fever_temperature,oxygen_saturation,history_of_fever,cough,sore_throat,runny_nose,wheezing,shortness_of_breath,lower_chest_wall_indrawing,chest_pain,conjunctivitis,lymphadenopathy,headache,loss_of_smell,loss_of_taste,fatigue_malaise,anorexia,altered_consciousness_confusion,muscle_aches,joint_pain,inability_to_walk,abdominal_pain,diarrhoea,vomiting_nausea,skin_rash,bleeding,other_symptoms,chronic_cardiac_disease,hypertension,chronic_pulmonary_disease,asthma,chronic_kidney_disease,obesity,liver_disease,asplenia,chronic_neurological_disorder,malignant_neoplasm,chronic_hematologic_disease,aids_hiv,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,pcr_result,previous_positives
0,36069621,0.0,0.0,1.0,47.0,0,0.0,1.0,0.0,0.0,38.0,95.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,57644199,0.0,0.0,1.0,35.0,1,0.0,1.0,0.0,0.0,37.5,88.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2,81365404,0.0,0.0,1.0,30.0,0,0.0,1.0,0.0,0.0,37.8,87.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,82027164,0.0,0.0,1.0,42.0,1,0.0,1.0,0.0,0.0,36.9,89.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,25804329,0.0,0.0,1.0,36.0,0,0.0,1.0,0.0,0.0,36.8,95.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12695,74182927,0.0,0.0,1.0,67.0,0,0.0,1.0,0.0,0.0,36.6,95.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
12696,63144550,0.0,0.0,1.0,58.0,0,0.0,1.0,0.0,0.0,37.7,96.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
12697,69906416,0.0,0.0,1.0,38.0,0,0.0,1.0,0.0,0.0,36.9,87.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
12698,51323961,0.0,0.0,1.0,45.0,0,0.0,1.0,0.0,0.0,39.2,96.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
12699,55408811,0.0,0.0,1.0,42.0,1,0.0,1.0,0.0,0.0,37.4,98.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0